<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <!-- 해당문서의 언어(캐릭터 타입) 설정 -->
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

    <title>게시판 웹 사이트</title>
</head>
<body>

<nav class="navbar navbar-default">
    <!-- navbar : 부트 스트랩에서 사용하는 네비게이션 바 -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
            <!-- collapse : 메뉴 접고 펴기 -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">게시판 웹 사이트</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">메인</a></li>
            <li><a href="/bbsPage">게시판</a></li>
            <li><span id="user" th:if="${userName}"></span>
                <a th:if="${userName}" href="/logout" class="btn btn-info active" role="button"><b>Logout</b></a>   <!-- 유저 네임이 모델속성으로 건너 왔으면 이게나오고 아니면 로그인 이 나옴-->
                <a th:unless ="${userName}" href="/oauth2/authorization/google" class="btn btn-success active" role="button"><b>Google Login</b></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>웹 사이트 소개</h1>
            <p>summernote를 활용한 웹 에디터 게시판</p>
<!--            <p><a class="btn btn-primary btn-pull" href="https://www.youtube.com/channel/UChflhu32f5EUHlY7_SetNWw" role="button">도움 받은곳</a></p>-->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>